<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

  <!-- Chat Room List Section -->
  <div id="chatRoomList">
    <h2>Chat Room List</h2>
    <ul id="roomList">
      <!-- Thymeleaf will populate room list dynamically -->
      <li th:each="room : ${chatRoomList}"
          th:text="${room.roomName}"
          th:data-room-id="${room.roomId}"
          style="cursor: pointer;">
      </li>
    </ul>
  </div>

  <!-- Chat Room Section -->
  <div id="chatRoom">
    <h2 id="roomTitle" th:text="${roomName}">Chat Room</h2>
    <div id="chatMessages">
      <!-- Messages will be loaded dynamically -->
      <div th:each="comment : ${comments}"
           class="chat-message"
           th:text="${comment.commentUserNum + ': ' + comment.commentContent}"></div>
    </div>
    <div>
      <input type="text" id="messageInput" placeholder="Type your message...">
      <button id="sendButton">Send</button>
    </div>
  </div>

</div>