<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

  <div class="chat-container">
    <!-- Left Side: Chat Room List Section -->
    <div id="chatRoomList" class="chat-room-list">
      <h2>Chat Room List</h2>
      <ul id="roomList">
        <li th:each="room : ${chatRoomList}"
            th:text="${room.roomName}"
            th:data-room-id="${room.roomId}"
            class="room-list-item">
        </li>
      </ul>
    </div>

    <!-- Right Side: Chat Room Section -->
    <div id="chatRoom" class="chat-room">
      <h2 id="roomTitle" th:text="${roomName}">Chat Room</h2>
      <div id="chatMessages" class="chat-messages"></div>
      <div class="message-input-container">
        <input type="text" id="messageInput" placeholder="Type your message...">
        <button id="sendButton">Send</button>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    const userNum = [[${userNum}]];
  </script>

  <script th:src="@{/js/chattingRoom.js}"></script>
</div>