<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <link rel="stylesheet" th:href="@{/css/modal.css}">
  <link rel="stylesheet" th:href="@{/css/wishList.css}">
</head>


<body>

<div layout:fragment="content">
  <div class="container-md d-flex justify-content-between margin-top-30 margin-bot-80" id="myInfo">

    <div class="sideMenu">
      <h2 class="sideTitle font-weight-bold">마이 페이지</h2>
      <h3 class="sideSubTitle font-weight-bold">거래 정보</h3>
      <ul>
        <li><a href="/payment/history" class="menuItems">거래내역</a></li>
        <li><a href="/wish/list" class="menuItems" style="font-weight: 700;">찜한 상품</a></li>
      </ul>

      <div class="title-divider"></div>

      <h3 class="sideSubTitle font-weight-bold">내 정보</h3>
      <ul>
        <li><a href="/event/myGiftcon" class="menuItems">당첨내역</a></li>
        <li><a href="/qna/my" class="menuItems">내 문의 내역</a></li>
        <li><a href="/user/modify" class="menuItems">내 정보 수정</a></li>
        <li><a class="cursor-pointer menuItems" data-bs-toggle="modal" data-bs-target="#deleteModal">회원탈퇴</a></li>
      </ul>

      <div class="title-divider"></div>

      <h3 class="sideSubTitle font-weight-bold">내 배송지</h3>

      <div class="map-box">
        <script type="text/javascript"
                th:src="@{'https://dapi.kakao.com/v2/maps/sdk.js?appkey=0fef19877ef5e7f71e4ae9f828a6265b&libraries=services'}"></script>

        <div id="map3" style="width:180px;height:160px;"></div>

        <script th:inline="javascript">
          var streetAddress = sessionStorage.getItem('userStreetAddress');
        </script>

        <script th:src="@{/js/myLocationMap.js}"></script>
      </div>
    </div>

    <div class="wishList">
      <div class="wishHeader">찜한 상품 내역</div>
      <div th:if="${wishedProducts != null and wishedProducts.size() > 0}">
        <table style="width: 100%;">
          <tbody>
          <tr th:each="boardFileDTO : ${wishedProducts}" class="wishProduct">
            <td class="wishProductInfo">
              <img th:if="${boardFileDTO.fileVOList != null
                            and boardFileDTO.fileVOList.size() > 0
                            and boardFileDTO.fileVOList.get(0).fileUrl != null}"
                   th:src="@{${boardFileDTO.fileVOList.get(0).fileUrl}}"
                   alt="상품사진" class="productImg">
              <div class="infoArea">
                <a th:href="@{/board/detail(boardId=${boardFileDTO.boardVO.boardId})}">
                  <p th:text="${boardFileDTO.boardVO.boardName}"></p>
                </a>
                <p th:text="${boardFileDTO.boardVO.formattedPrice}"></p>
                <p th:text="${boardFileDTO.boardVO.category}"></p>
              </div>
            </td>
            <td class="handleBtn">
              <button type="button" th:data-board-id="${boardFileDTO.boardVO.boardId}"
                      class="pay-btn btn-custom" th:disabled="${boardFileDTO.boardVO.tradeFlag == 1}" th:text="${boardFileDTO.boardVO.tradeFlag == 1 ? '거래완료 상품' : '결제하기'}" >결제하기</button>
              <button type="button" th:data-board-id="${boardFileDTO.boardVO.boardId}" class="remove-wish-btn btn-custom">찜 취소</button>
            </td>

            <!-- 결제 모달 -->
            <div th:id="'paymentModal_' + ${boardFileDTO.boardVO.boardId}" class="modal">
              <div class="modal-content">
                <!-- 닫기 버튼 -->
                <button class="close btn-custom" id="close" th:data-board-id="${boardFileDTO.boardVO.boardId}">
                  <img src="/img/x.png">
                </button>
                <h2 class="pay-wait-head">잠시만요! 판매자와 대화를 하셨나요?</h2>
                  <br>
                <p class="pay-wait-body">채팅을 하지 않고 결제하면 거래가 취소될 수 있어요.</p>
                <p class="pay-wait-body">판매자와의 채팅을 권장드립니다.</p>
      <!--          <button id="tradeBtn">직거래</button>-->
                <button type="button"
                        class="chat-btn btn-custom"
                        th:data-seller-id="${boardFileDTO.boardVO.sellerId}"
                        th:data-board-name="${boardFileDTO.boardVO.boardName}"
                        th:data-user-num="${#authentication.getPrincipal().userVO.userNum}">알겠습니다. 채팅을 진행할게요.</button>

                <!-- 결제 버튼: data-board-id로 boardId를 전달 -->
                <button type="button" class="paymentBtn"
                        th:data-board-id="${boardFileDTO.boardVO.boardId}">
                  괜찮습니다. 바로 결제할게요.
                </button>
              </div>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
      <div th:if="${wishedProducts == null or wishedProducts.size() == 0}" class="no-data text-center margin-top-80">
        <p>찜한 상품이 없습니다. <a th:href="@{/board/list}" class="font-weight-bold">마음에 드는 상품을 찾아 찜</a>해보세요!</p>
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var boardFileDTO = [[${wishedProducts}]];
      /*]]>*/
    </script>

    <script th:inline="javascript">
      /*<![CDATA[*/

       var principal = [[${#authentication.principal}]];

       document.getElementById('buyBtn').addEventListener('click', function() {
         var principal = [[${#authentication.principal}]];
         if (principal === 'anonymousUser') {
           window.location.href = '/user/login';
         }
       });

       document.getElementById('chatBtn').addEventListener('click', function() {
         var principal = [[${#authentication.principal}]];
         if (principal === 'anonymousUser') {
           window.location.href = '/user/login';
         }
       });

       document.getElementById('reportBtn').addEventListener('click', function() {
         var principal = [[${#authentication.principal}]];
         if (principal === 'anonymousUser') {
           window.location.href = '/user/login';
         }
       });
       /*]]>*/
    </script>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script th:src="@{/js/wishList.js}"></script>
    <script th:src="@{/js/wishBuy.js}"></script>
    <script th:src="@{/js/chatCreate.js}"></script>
  </div>
</div>


</body>
