<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content">
  <div class="container-md">

    <div id="ad-container">
      <!-- 여기에 이미지를 동적으로 표시할 것입니다 -->
    </div>

    <script>
      // URL의 쿼리 파라미터에서 'ad' 값을 가져옴
      const urlParams = new URLSearchParams(window.location.search);
      const adNumber = urlParams.get('ad'); // 예: '11'

      if (adNumber) {
          // 이미지를 동적으로 생성하여 표시
          const imgElement = document.createElement('img');
          imgElement.src = `/img/bannerDetail_ad${adNumber}.png`;  // /img/banner_ad11.png과 같이 생성
          imgElement.alt = `광고 이미지 ${adNumber}`;  // 동적으로 alt 텍스트 설정

          // #ad-container에 이미지를 추가
          document.getElementById('ad-container').appendChild(imgElement);
      } else {
          console.log('No ad number provided');
      }
    </script>

  </div>
</div>