<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content">
  <div class="container-md">

    <div class="event-title">이벤트</div>
    <div class="event-category">
      <span><a href="/event/list">참여형</a></span>
      <span class="event-bold"><a href="/event/eventList">혜택형</a></span>
    </div>

    <div class="event-benefitContainer">
      <div class="event-box">
        <div class="event-benefit event-margin">
          <a href="/event/banner?ad=4"><img src="/img/banner_ad4.png"></a>
          <span class="event-date">2024-12-12 ~ 2025-01-31</span>
        </div>
        <div class="event-benefit">
          <a href="/event/banner?ad=5"><img src="/img/banner_ad5.png"></a>
          <span class="event-date">2024-12-12 ~ 2025-01-26</span>
        </div>
      </div>

      <div class="event-box">
        <div class="event-benefit event-margin">
          <a href="/event/banner?ad=6"><img src="/img/banner_ad6.png"></a>
          <span class="event-date">2024-12-02 ~ 2024-12-31</span>
        </div>
        <div class="event-benefit">
          <a href="/event/banner?ad=7"><img src="/img/banner_ad7.png"></a>
          <span class="event-date">2024-10-03 ~ 2024-12-31</span>
        </div>
      </div>

      <div class="event-box">
        <div class="event-benefit event-margin">
          <a href="/event/banner?ad=8"><img src="/img/banner_ad8.png"></a>
          <span class="event-date">2024-10-02 ~ 2024-12-31</span>
        </div>
        <div class="event-benefit">
          <a href="/event/banner?ad=9"><img src="/img/banner_ad9.png"></a>
          <span class="event-date">2024-09-13 ~ 2024-12-31</span>
        </div>
      </div>

      <div class="event-box">
        <div class="event-benefit event-margin">
          <a href="/event/banner?ad=10"><img src="/img/banner_ad10.png"></a>
          <span class="event-date">2024-09-10 ~ 2024-12-31</span>
        </div>
        <div class="event-benefit">
          <a href="/event/banner?ad=11"><img src="/img/banner_ad11.png"></a>
          <span class="event-date">2024-09-02 ~ 2024-12-12</span>
        </div>
      </div>
    </div>

  </div>
</div>