<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content">
    <div class="container-md">

        <div class="event-title">이벤트</div>
        <div class="event-category">
            <span class="event-bold"><a href="/event/list">참여형</a></span>
            <span><a href="/event/eventList">혜택형</a></span>
        </div>
        <!--d-flex justify-content-between align-items-center -->
        <div class="event-engagementContainer">
            <div class="event-engagement event-margin">
                <a href="/event/roulette"><img src="/img/roulette.jpg"></a>
                <span class="event-date">상시</span>
            </div>
            <div class="event-engagement">
                <a href="/event/attend"><img src="/img/attendCheck.png"></a>
                <span class="event-date">상시</span>
            </div>
        </div>

    </div>
</div>