<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md" id="myGiftcon">
        <h2>내 당첨내역</h2>

        <div class="giftcon-container">
            <div th:each="giftcon, iterStat : ${list}">
                <div class="giftcon-item" th:text="${giftcon}"></div>
            </div>
        </div>

        <!-- 페이지 네이션 라인 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 버튼 -->
                <li class="page-item" th:classappend="${ph.prev eq false ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{${category != null ? '/board/list?category=' + category + '&pageNo=' + (ph.startPage-1) + '&qty=10' : (keyword != null ? '/board/list?keyword=' + keyword + '&pageNo=' + (ph.startPage-1) + '&qty=10' : '/board/list?pageNo=' + (ph.startPage-1) + '&qty=10')}}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
                    <li class="page-item" th:classappend="${ph.pgvo.pageNo eq i ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{${category != null ? '/board/list?category=' + category + '&pageNo=' + i + '&qty=10' : (keyword != null ? '/board/list?keyword=' + keyword + '&pageNo=' + i + '&qty=10' : '/board/list?pageNo=' + i + '&qty=10')}}">[[${i}]]</a>
                    </li>
                </th:block>

                <!-- 다음 페이지 버튼 -->
                <li class="page-item" th:classappend="${ph.next eq false ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{${category != null ? '/board/list?category=' + category + '&pageNo=' + (ph.endPage+1) + '&qty=10' : (keyword != null ? '/board/list?keyword=' + keyword + '&pageNo=' + (ph.endPage+1) + '&qty=10' : '/board/list?pageNo=' + (ph.endPage+1) + '&qty=10')}}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


    </div>
</div>