<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content">
    <div class="container-md">
        <link rel="stylesheet" th:href="@{/css/roulette.css}">

        <div class="roulette-container">
            <div class="roulette-box">
                <div><span class="roulette-semiBold">매일매일</span> 찾아오는</div>
                <div><span class="roulette-bold">행</span><span class="roulette-semiBold">운</span>의 <span class="roulette-semiBold">룰</span><span class="roulette-bold">렛</span></div>
                <canvas width="380" height='380'></canvas>
                <button onclick="rotate()">룰렛 돌리기</button>
            </div>
        </div>

        <div class="reward-container">
            <div class="reward-title">당첨 상품</div>
            <div class="reward-box">
                <img src="/img/giftcon_450_red.png">
            </div>
            <div class="reward-content">상품권 10,000원</div>
        </div>

        <div class="event-notes">
            <div class="event-bold">참고사항</div>
            <br>
            <div class="event-bold">* 행운의 룰렛은 계정당 하루에 한 번만 이용 가능해요.</div>
            <div class="event-bold">* 당첨이 되셨을 경우에는 [마이] -> [내 정보] -> [당첨 내역]을 통해서 당첨을 확인하실 수 있어요.</div>
            <div class="event-bold">* 당첨된 상품은 사용 기한이 있으며, 기한 연장은 어려우니 기한 안에 사용해야 해요.</div>
        </div>

        <div id="custom-alert" class="event-modal">
            <div class="event-modalContent">
                <p id="alert-message"></p>
                <hr class="event-divider">
                <button id="alert-ok-button">확인</button>
            </div>
        </div>

        <script th:src="@{/js/roulette.js}"></script>
        <script th:src="@{/js/event-modal.js}"></script>
    </div>
</div>