<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<body>

<div layout:fragment="content">

  <th:block th:with="boardVO=${boardFileDTO.boardVO}">
  [[${boardFileDTO}]]

    <button id="paymentBtn">결제하기</button>
    <button id="cancelBtn">결제 취소</button>

    <button type="button" id="modBtn">수정</button>
    <a th:href="@{/board/delete(boardId=${boardVO.boardId})}"><button type="button" id="delBtn">글삭제</button></a>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var boardFileDTO = [[${boardFileDTO}]];
      /*]]>*/
    </script>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var boardId = [[${boardVO.boardId}]];
      /*]]>*/
          /*<![CDATA[*/
      var tradeFlag = [[${boardVO.tradeFlag}]];
      /*]]>*/
    </script>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script th:src="@{/js/buy.js}"></script>
    <script th:src="@{/js/productBoardDetail.js}"></script>
<!--    <script th:src="@{/js/refund.js}"></script>-->


  </th:block>



</div>


</body>
