<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/price.css}">
</head>
<div layout:fragment="content">
    <div class="container-md" id="fraudWrap">
        <div class="price-container">
            <div class="price-title">통합 사기조회</div>
            <div class="price-subTitle">사기 피해사례를 조회할 수 있어요.</div>
            <form action="/board/fraud" method="get" class="d-flex" role="search">
                <div id="searchArea" class="price-searchBar">
                    <input class="price-searchBox" name="keyword" type="search" placeholder="이름, 이메일, 휴대폰번호, 주소 입력">
                </div>
            </form>

            <!-- 검색 결과 -->
            <div th:if="${fraudUserList != null and not #lists.isEmpty(fraudUserList)}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>총 사기 횟수</th>
                        <th>사기 사유</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${fraudUserList}">
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.fraudCount}"></td>
                        <td>
                            <span th:text="${user.reasonName} + ' (' + ${user.reasonCount} + '회)'"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${fraudUserList == null or #lists.isEmpty(fraudUserList)}">
                <p>검색된 사기 이력이 없습니다.</p>
            </div>

            <div class="fraudPattern d-flex gap-3 flex-column">
                <h1 class="d-flex justify-content-start">주요 사기 패턴 확인하기 _ 상품권 바코드 탈취</h1>
                <p class="d-flex justify-content-start">일부 노출된 바코드를 읽기 프로그램을 이용하여 복원한 뒤 가로채는 수법</p>
                <img src="/img/fraudPattern_starbucks.png">
                <p>※ 바코드 탈취 후 <strong>다른 사람에게 재판매할 수 있어요!</strong></p>
            </div>
            <div class="fraudPattern d-flex gap-3 flex-column">
                <h1 class="d-flex justify-content-start">주요 사기 패턴 확인하기 _ 3자 사기 (입금자명 변경)</h1>
                <p class="d-flex justify-content-start">판매자와 구매자에게 동시에 접근하여 구매자로 하여금 판매자에게 송금하게 하고 판매자에게는 자신이 송금한 것처럼 속여 물건을 가로채는 3자 사기 수법</p>
                <img src="/img/fraudPattern_3people.jpg">
            </div>
        </div>
    </div>
</div>