<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/price-search.css}">
</head>


<div layout:fragment="content">

    <div class="container-md">

        <!-- 상품명 검색 부분 -->
        <h1>상품 시세 조회</h1>
        <form action="/board/price" class="d-flex" role="search">
            <div id="searchArea">
                <img id="searchImg" src="/img/search.svg" alt="Search Icon">
                <input id="searchBox" class="form-control me-2" name="keyword" type="search" placeholder="어떤 상품을 찾으시나요?"
                       aria-label="Search"  th:value="${keyword != null ? keyword : ''}">
            </div>

        </form>

        <!-- 시세 정보 표시 부분 -->
        <div>
            <h3>시세 정보</h3>
            <p>평균 가격: <span th:text="${averagePrice}"></span></p>
            <p>최대 가격: <span th:text="${maxPrice}"></span></p>
            <p>최소 가격: <span th:text="${minPrice}"></span></p>
        </div>

        <!-- 검색된 상품 리스트 부분 -->
        <p style="font-size : 40px; padding: 20px;"> 최근 등록된 상품 (20개)</p>
        <div class="product-list">
            <!-- 최근 등록된 상품 20개 순회 -->
            <div th:each="product : ${recentProducts}" class="product-item">

                <!-- 상품 이미지 -->
                <div class="product-image">
                    <img th:if="${product.fileVOList != null and !product.fileVOList.isEmpty()}"
                         th:src="@{${product.fileVOList[0].fileUrl}}" alt="상품 이미지" />
                </div>

                <!-- 상품 정보 -->
                <div class="product-details">
                    <!-- 상품 제목 -->
                    <h4 th:text="${product.boardVO.boardName}"></h4>

                    <!-- 상품 가격 -->
                    <p th:text="'가격: ' + ${product.boardVO.tradePrice} + '원'"></p>

                    <!-- 상품 등록일 -->
                    <p th:text="'등록일: ' + ${product.boardVO.regAt}"></p>
                </div>
            </div>
        </div>
    </div>



</div>
