<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content">
<link rel="stylesheet" th:href="@{/css/register.css}">
    <!--class="container-md cBox"-->
    <!--style="margin-top : 30px;" -->
    <div class="register-container">
        <form action="/board/register" method="post" enctype="multipart/form-data">

            <!--class="mb-3"-->
            <div class="register-area">
                <!--class="form-label"-->
                <label for="b" class="register-name">상품명</label>
                <!--class="form-control"-->
                <input type="text" id="b" name="boardName" class="register-input" placeholder="상품명">
            </div>

            <!-- boardFormType 이라는 hidden input 추가 -->
            <input type="hidden" id="formType" value="board">

            <!--class="mb-3"-->
            <div class="register-area">
                <!--class="form-label"-->
                <label for="inputGroupSelect01" class="register-name">카테고리</label>
                <!--class="form-select form-select-sm"-->
                <select id="inputGroupSelect01" name="category" required>
                    <option value="" disabled selected>Choose...</option> <!-- 기본 옵션, disabled로 선택 불가 -->
                    <option value="가전제품">가전제품</option>
                    <option value="의류">의류</option>
                    <option value="노트북/PC">노트북/PC</option>
                    <option value="리빙/생활">리빙/생활</option>
                    <option value="게임">게임</option>
                    <option value="도서/음반/문구">도서/음반/문구</option>
                    <option value="뷰티">뷰티</option>
                    <option value="출산/유아동">출산/유아동</option>
                    <option value="모바일/태블릿">모바일/태블릿</option>
                    <option value="카메라/캠코더">카메라/캠코더</option>
                    <option value="가구/인테리어">가구/인테리어</option>
                    <option value="레저/여행">레저/여행</option>
                    <option value="스포츠">스포츠</option>
                    <option value="반려동물/취미">반려동물/취미</option>
                    <option value="중고차">중고차</option>
                </select>
            </div>

            <!-- test -->
<!--            <div class="selectBox">-->
<!--                <select name="fruits" class="select">-->
<!--                    <option disabled selected>fruits 🍊</option>-->
<!--                    <option value="apple">apple</option>-->
<!--                    <option value="orange">orange</option>-->
<!--                    <option value="grape">grape</option>-->
<!--                    <option value="melon">melon</option>-->
<!--                </select>-->
<!--                <span class="icoArrow"><img src="/img/drop-down.svg" class="select-icon"></span>-->
<!--            </div>-->

            <!--class="mb-3"-->
            <div class="register-area">
                <!--class="form-label"-->
                <label for="p" class="register-name">판매가격</label>
                <!-- class="form-control" -->
                <input type="text" id="p" name="tradePrice" class="register-input" placeholder="판매가격">
            </div>

            <!--class="mb-3"-->
            <div id="smarteditor" class="register-area">
                <!--class="form-label"-->
                <label for="c" class="register-name">상품내용</label>
                <!--class="form-control"-->
                <!-- cols="10" rows="20"-->
                <textarea id="c" name="boardContent" rows="30"></textarea>
            </div>

            <div class="register-notes">
                <div class="register-bold">등록 시 참고사항</div>
                <br>
                <div>- 상품명(브랜드)</div>
                <div>- 구매 시기</div>
                <div>- 사용 여부</div>
                <div>- 상품 상태</div>
                <div>- 선호 거래 방법</div>
                <div>- 배송비 포함 여부</div>
                <div class="register-bold">* 실제 촬영한 사진과 함께 상세 정보를 입력해주세요.</div>
                <div class="register-bold">* 카카오톡 아이디 첨부 시 게시물 삭제 및 이용제재 처리될 수 있어요.</div>
                <div class="register-bold">안전하고 건전한 거래환경을 위해 과학기술정보통신부, 한국인터넷진흥원, 쓸템이 함께합니다.</div>
            </div>

            <!-- class="flexBox" -->
            <!--style="display: flex; justify-content:end;"-->
            <div class="register-area">
                <!-- class="btn btn-secondary" -->
                <button type="submit" id="regBtn">register</button>
            </div>

        </form>
        <script th:src="@{/js/productRegister.js}" charset="UTF-8"></script>
        <script th:src="@{/smarteditor/js/HuskyEZCreator.js}" charset="UTF-8"></script>
    </div>

</div>