<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <div id="findPassword">
            <h2>비밀번호 찾기(재설정)</h2>
            <form action="/user/updatePassword" method="post">
                <div class="formWrap">
                    <ul class="formWrapUl d-flex flex-column gap-3">
                        <li class="d-flex justify-content-start align-items-center gap-1">
                            <span class="label">아이디(이메일)</span>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <input type="text" id="i" class="form-control" required name="userId" placeholder="아이디(이메일)을 입력하세요.">
                                <a id="emailChk" class="d-flex align-items-center">인증번호 발송</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-start align-items-center gap-1">
                            <span class="label">인증번호</span>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <input id="checkEmail" class="form-control" name="checkEmail" placeholder="인증번호" disabled type="text">
                                <a id="emailChk2" class="d-flex align-items-center">인증하기</a>
                            </div>
                        </li>
                        <span id="emailCheckMessage" style="color:red;"></span>
                        <li class="d-flex justify-content-start align-items-center gap-1">
                            <span class="label">휴대폰 번호</span>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <input id="phone" type="text" class="form-control" placeholder="휴대폰 번호(-제외)">
                                <a class="btn" id="phoneChk">인증번호 발송</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-start align-items-center gap-1">
                            <span class="label">인증번호</span>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <input id="check" type="text" class="form-control" placeholder="인증번호" disabled>
                                <a id="phoneChk2" class="btn">인증하기</a>
                            </div>
                        </li>
                        <div id="dup-check"></div>
                        <li class="d-flex justify-content-start align-items-center gap-1">
                            <span class="label">비밀번호</span>
                            <input type="password" class="form-control" id="password" name="newPassword" placeholder="새 비밀번호를 입력하세요.">
                        </li>
                        <span id="passwordMessage" class="password-message">(영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~16자)</span>
                        <li class="d-flex justify-content-start align-items-center gap-1">
                            <span class="label">비밀번호 확인</span>
                            <input type="password" id="passwordCheck" class="form-control" name="passwordCheck" placeholder="새 비밀번호를 다시 입력하세요.">
                        </li>
                        <span id="passwordCheckMessage" class="password-check-message"></span>

                        <div id="finalMessage"></div>
                        <button id="joinPostBtn" class="btn joinPostBtn" type="submit" disabled onclick="return alert('비밀번호가 재설정되었습니다.')">비밀번호 재설정하기</button>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/findPassword.js}"></script>
</div>