<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <div id="findIdResult">
            <h2>아이디 찾기 결과</h2>
            <div class="findIdResultWrap">
                <div class="findIdResultWrapWrap">
                    <p th:text="${message}"></p>

                    <div th:if="${status == 'success'}">
                        <ul>
                            <!-- userList를 반복문을 통해 출력 -->
                            <li th:each="user : ${userList}" class="d-flex flex-column gap-3">
                                <div class="d-flex justify-content-between">
                                    <span>가입일</span>
                                    <span th:text="${#strings.substring(user.regDate, 0, 10)}"></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="important">아이디</span>
                                    <span class="important" th:text="${user.userId}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>