<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <div id="findPassword">
            <h2>비밀번호 찾기</h2>
            <form action="/user/updatePassword" method="post">
                <span>아이디(이메일)</span>
                <input type="text" required name="userId" placeholder="아이디(이메일)을 입력하세요."><button>인증번호 발송</button>
                <input type="text"><button>인증하기</button>

                <span>휴대폰 번호</span>
                <input type="text" placeholder="휴대폰 번호(-제외)"><button>인증번호 발송</button>
                <input type="text"><button>인증하기</button>

                <span>비밀번호</span>
                <input type="text" name="newPassword">

                <button type="submit">제출</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/findPassword.js}"></script>
</div>