<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md">
    <div id="joinBox">
      <h1>회원 가입</h1>
      <div class="requiredTitle d-flex justify-content-between align-items-center">
        <span class="defaultInfo">기본정보</span>
        <span class="requiredSubTitle d-flex gap-1"><strong class="requiredStar">*</strong>필수입력사항</span>
      </div>
      <form action="/user/join" method="post" class="">
        <table class="requiredTable">
          <input type="hidden" name="signflag" th:value="${signflag}">
          <input type="hidden" name="socialId" th:value="${socialUserId}">
          <tbody class="d-flex flex-column gap-4">
            <tr class="d-flex justify-content-start align-items-center">
              <th class="gap-1"><span>아이디(이메일)</span><strong class="requiredStar thRequiredStar">*</strong></th>
              <td class="d-flex justify-content-start align-items-center gap-2">
                <input type="email" class="form-control" id="i" name="userId"
                         th:value="${socialEmail != null ? socialEmail : ''}" >
                <a id="emailChk" class="d-flex align-items-center">인증번호받기</a>
              </td>
            </tr>
            <tr class="d-flex justify-content-start align-items-center">
              <th class="gap-1"><span>인증번호</span><strong class="requiredStar thRequiredStar">*</strong></th>
              <td class="d-flex justify-content-start align-items-center gap-2">
                <input type="text" id="checkEmail" name="checkEmail" class="form-control" placeholder="인증번호" disabled>
                <a id="emailChk2" class="d-flex align-items-center">인증하기</a>
                <span id="emailCheckMessage" style="color:red;"></span>
              </td>
            </tr>
            <tr class="d-flex justify-content-start align-items-center">
              <th>비밀번호<strong class="requiredStar">*</strong></th>
              <td class="d-flex justify-content-start align-items-center gap-2">
                <input type="password" id="password" class="form-control" name="password" placeholder="">
                <span id="passwordMessage" class="password-message">(영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~16자)</span>
              </td>
            </tr>
            <tr class="d-flex justify-content-start align-items-center">
              <th>비밀번호 확인<strong class="requiredStar">*</strong></th>
              <td class="d-flex justify-content-between align-items-center gap-2">
                <input type="password" id="passwordCheck" class="form-control" name="passwordCheck" placeholder="">
                <span id="passwordCheckMessage" class="password-check-message"></span>
              </td>
            </tr>
            <tr class="d-flex justify-content-start align-items-center">
              <th>이름<strong class="requiredStar">*</strong></th>
              <td class="d-flex justify-content-between align-items-center gap-2">
                <input type="text" id="userName" class="form-control" name="userName">
              </td>
            </tr>
            <tr class="d-flex justify-content-start align-items-center">
              <th>주소<strong class="requiredStar">*</strong></th>
              <td>
                <ul class="d-flex gap-2 flex-column">
                  <li class="d-flex justify-content-start align-items-center gap-2">
                    <input type="text" class="form-control" name="postCode" id="postCode" placeholder="우편번호">
                    <a id="addressBtn" class="d-flex align-items-center" onclick="searchPostCode()">주소검색</a>
                  </li>
                  <li class="d-flex justify-content-between align-items-center gap-2">
                    <input type="text" class="form-control" name="address1" id="address1" placeholder="기본주소">
                  </li>
                  <li class="d-flex justify-content-between align-items-center gap-2">
                    <input type="text" class="form-control" name="address2" id="address2" placeholder="나머지 주소(선택입력가능)">
                  </li>
                  <li class="d-flex justify-content-between align-items-center gap-2">
                    <input type="text" class="form-control" name="address3" id="address3">
                  </li>
                </ul>
              </td>
            </tr>
            <tr class="d-flex justify-content-start align-items-center">
              <th>휴대전화<strong class="requiredStar">*</strong></th>
              <td class="d-flex justify-content-start align-items-center gap-2">
                <ul class="d-flex gap-2 flex-column">
                  <li class="d-flex justify-content-start align-items-center gap-2">
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="휴대폰 번호(-제외)">
                    <a id="phoneChk" class="d-flex align-items-center">인증번호받기</a>
                  </li>
                  <li class="d-flex justify-content-start align-items-center gap-2">
                    <input type="text" id="check" name="check" class="form-control" placeholder="인증번호" disabled>
                    <a id="phoneChk2" class="d-flex align-items-center">인증하기</a>
                  </li>
                  <li>
                    <div id="dup-check"></div>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

          <div class="requiredTitle d-flex justify-content-start align-items-center">
            <span class="defaultInfo">추가정보</span>
          </div>
          <div class="mb-3 birthBox margin-top-20 d-flex justify-content-start align-items-center">
            <label class="form-label birthLabel d-flex align-items-center">생년월일</label>
            <div class="d-flex justify-content-start gap-3 align-items-center">
              <input type="text" class="form-control" name="birthYear" placeholder="예: 1990"
                     th:value="${birthYear != null ? birthYear : ''}"><span>년</span>
              <input type="text" class="form-control" name="birthMonth" placeholder="예: 04"
                     th:value="${birthMonth != null ? birthMonth : ''}"><span>월</span>
              <input type="text" class="form-control" name="birthDay" placeholder="예: 15"
                     th:value="${birthDay != null ? birthDay : ''}"><span>일</span>
            </div>
          </div>
          <div id="finalMessage"></div>
          <button type="submit" class="btn joinPostBtn d-flex justify-content-center align-items-center" disabled>회원가입</button>
      </form>
    </div>
  </div>
  <script th:src="@{/js/join.js}"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>