<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h1> final Boot Project</h1>
        <hr>
        로그인 페이지 입니다.
        <form action="/login/enter" method="post">
            <div class="mb-3">
                <label for="i" class="form-label">ID</label>
                <input type="text" class="form-control" id="i" name="userId" placeholder="id...">
            </div>
            <div class="mb-3">
                <label for="p" class="form-label">비밀번호</label>
                <input type="text" class="form-control" id="p" name="password" placeholder="password...">
            </div>
            <button type="submit" class="btn btn-primary">로그인하기</button>
            <div th:if="${error}" class="error" th:text="${error}"></div>
        </form>
        <a href="/login/join">회원가입</a>
        <a th:href="${kakaoLoginPageUrl}">카카오로 로그인</a>
        <a th:href="${naverLoginPageUrl}">네이버로 로그인</a>
        <a th:href="${googleLoginPageUrl}">구글로 로그인</a>
    </div>
</div>