<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md d-flex justify-content-between margin-top-30" id="myInfo">
      <div class="sideMenu">
          <h2 class="sideTitle font-weight-bold">마이 페이지</h2>
          <h3 class="font-weight-bold">거래 정보</h3>
          <ul>
              <li><a href="/payment/history">거래내역</a></li>
              <li><a href="/wish/list">찜한 상품</a></li>
          </ul>
          <h3 class="font-weight-bold">내 정보</h3>
          <ul>
              <li><a href="/event/myGiftcon">당첨내역</a></li>
              <li><a href="/user/modify">내 정보 수정</a></li>
              <li><a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#deleteModal">회원탈퇴</a></li>
          </ul>
          <!-- 모달 -->
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">회원 탈퇴</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          유의 사항을 확인해주세요!
                          전자 상거래 등에서의 소비자 보호에 관한 법률 규정에 따라 아래와 같이 기록을 보관하며, 법률 의한 경우 외 다른 목적으로 이용되지 않습니다.
                          표시 광고에 대한 기록          6개월
                          계약 또는 청약철회, 대금결제 및 재화 등의 공급에 관한 기록        5년
                          소비자의 불만 또는 분쟁처리에 관한 기록            3년
                          전자금융거래기록      5년

                          탈퇴 신청 후 72시간(3일) 이내 철회 가능하며, 그 후에는 복구할 수 없습니다.
                          정말 탈퇴하시겠습니까?
                      </div>
                      <div class="modal-footer">
                          <a class="cursor-pointer" data-bs-dismiss="modal">취소</a>
                          <a id="confirmDeleteButton" class="cursor-pointer" onclick="showAlert()">탈퇴</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="mainContent" th:with="auth=${#authentication.getPrincipal()}">
          <div class="d-flex justify-content-between">
              <div class="mainLeft d-flex justify-content-start">
                  <img class="logoImg" src="/img/popIcon.svg">
                  <div class="d-flex flex-column">
                      <span>쓸템</span>
                      <div class="d-flex justify-content-start">
                          <strong>[[${auth.userVO.userName}]]</strong>
                          <span>님 환영합니다.</span>
                      </div>
                  </div>
              </div>
              <div class="mainRight d-flex justify-content-between">
                  <div class="scoreArea">
                      <div>
                          <span>
                              <span>매너지수</span>
                              <span id="score-value">[[${auth.userVO.score}]]</span>
                          </span>
                          <span>
                              1,000
                          </span>
                      </div>
                      <div class="score-bar-container">
                          <div id="score-bar" class="score-bar"></div>
                      </div>
                  </div>
                  <div>
                      <img class="profileImg" src="/img/profile.png">
                  </div>
              </div>
          </div>
          <div>
              <h2>내 상품</h2>
              <div>
                  <table>
                      <thead>
                      <tr>
                          <th>상품사진</th>
                          <th>카테고리</th>
                          <th>상품명</th>
                          <th>상품가격</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="boardFileDTO : ${list}">
                          <td>
                              <!-- 파일이 있을 경우 첫 번째 파일의 이미지 출력 -->
                              <img th:if="${boardFileDTO.fileVOList != null and boardFileDTO.fileVOList.size() > 0 and boardFileDTO.fileVOList.get(0).fileUrl != null}"
                                   th:src="@{${boardFileDTO.fileVOList.get(0).fileUrl}}" alt="상품사진" width="100">
                          </td>
                          <td th:text="${boardFileDTO.boardVO.category}"></td>
                          <td>
                              <a th:href="@{/board/detail(boardId=${boardFileDTO.boardVO.boardId})}">
                                  <span th:text="${boardFileDTO.boardVO.boardName}"></span>
                              </a>
                          </td>
                          <td th:text="${boardFileDTO.boardVO.tradePrice}"></td>
                      </tr>
                      </tbody>
                  </table>
                  <!-- 페이지 네이션 라인 -->
                  <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                          <!-- 이전 페이지 버튼 -->
                          <li class="page-item" th:classappend="${ph.prev eq false ? 'disabled' : ''}">
                              <a class="page-link"
                                 th:href="@{${'/user/myInfo?pageNo=' + (ph.startPage-1) + '&qty=10'}}"
                                 aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                          <!-- 페이지 번호 -->
                          <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
                              <li class="page-item" th:classappend="${ph.pgvo.pageNo eq i ? 'active' : ''}">
                                  <a class="page-link"
                                     th:href="@{${'/user/myInfo?pageNo=' + i + '&qty=10'}}">[[${i}]]</a>
                              </li>
                          </th:block>

                          <!-- 다음 페이지 버튼 -->
                          <li class="page-item" th:classappend="${ph.next eq false ? 'disabled' : ''}">
                              <a class="page-link"
                                 th:href="@{${'/user/myInfo?pageNo=' + (ph.endPage+1) + '&qty=10'}}"
                                 aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
    <script th:src="@{/js/myInfo.js}"></script>
</div>
