<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div id="content" layout:fragment="content">
  <div class="container-md" id="reportListWrap">
    <h1>신고 리스트</h1>
    <div>총 [[${ph.totalCount}]]개의 신고가 접수 되었습니다.</div>

    <select id="reportCategory" class="form-select">
      <option value="">모든 신고 사유</option>
      <!-- reasonList를 동적으로 추가 -->
      <th:block th:each="reason : ${reasonList}">
        <option th:value="${reason.compId}"
                th:text="${reason.compContent}"
                th:selected="${selectedCategory == reason.compId}"> </option>
      </th:block>
    </select>

    <table class="table table-success table-striped">
      <thead>
      <tr>
        <th scope="col">report_num</th>
        <th scope="col">report_comp_id</th>
        <th scope="col">report_date</th>
        <th scope="col">reporter_num</th>
        <th scope="col">status</th>
        <th scope="col">board_id</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="reportVO : ${list}">
        <td th:text="${reportVO.reportNum}"></td>
        <td th:text="${reportVO.compContent}"></td>
        <td th:text="${reportVO.reportDate}"></td>
        <td th:text="${reportVO.reporterNum}"></td>
        <td>
          <select class="form-select"
                  th:attr="data-report-id=${reportVO.reportNum}"
                  onchange="updateStatus(this)">
            <option th:value="PENDING" th:selected="${reportVO.status == 'pending'}">대기</option>
            <option th:value="CONFIRMED" th:selected="${reportVO.status == 'confirmed'}">승인</option>
            <option th:value="CANCELED" th:selected="${reportVO.status == 'canceled'}">기각</option>
          </select>
        </td>
        <td>
          <a th:href="@{/board/detail(boardId=${reportVO.boardId})}" style="text-decoration: none; color: inherit;">
            [[${reportVO.boardId}]]
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- 페이지 네이션 라인 -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">

        <!-- 이전 페이지 버튼 -->
        <li class="page-item" th:classappend="${ph.prev eq false ? 'disabled' : ''}">
          <a class="page-link"
             href="javascript:void(0)"
             th:data-url="@{${'/user/reportList?pageNo=' + (ph.startPage-1) + '&qty=10'}}"
             aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <!-- 페이지 번호 -->
        <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
          <li class="page-item" th:classappend="${ph.pgvo.pageNo eq i ? 'active' : ''}">
            <a class="page-link"
               href="javascript:void(0)"
               th:data-url="@{${'/user/reportList?pageNo=' + i + '&qty=10'}}">[[${i}]]</a>
          </li>
        </th:block>

        <!-- 다음 페이지 버튼 -->
        <li class="page-item" th:classappend="${ph.next eq false ? 'disabled' : ''}">
          <a class="page-link"
             href="javascript:void(0)"
             th:data-url="@{${'/user/reportList?pageNo=' + (ph.endPage+1) + '&qty=10'}}"
             aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <script th:src="@{/js/reportList.js}"></script>
</div>