<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="container-md py-3" id="header">
    <div class="d-flex justify-content-between align-items-center" id="headerTop">
        <div id="logoArea">
            <a href="/" class="d-flex justify-content-center align-items-center">
                <img src="/img/logo.svg">
                <span class="logoName">SSeul Tem</span>
            </a>
        </div>
        <div id="searchArea">
            <img id="searchImg" src="/img/search.svg">
            <input id="searchBox" placeholder="어떤 상품을 찾으시나요?">
        </div>
        <div class="userMenu">
            <ul class="d-flex justify-content-between align-items-center gap-3">
                <li>
                    <a href="/user/login" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/login.svg">
                        <span>로그인</span>
                    </a>
                </li>
                <li>
                    <a href="/board/register" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/sale.svg">
                        <span>판매</span>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/my.svg">
                        <span>마이</span>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/chatting.svg">
                        <span>채팅</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-start align-items-center" id="headerBot">
        <a href="">
            <div id="category" class="d-flex justify-content-between align-items-center gap-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
                <span>카테고리</span>
            </div>
        </a>
        <nav class="d-flex justify-content-between align-items-center gap-4">
            <div><a href="">이벤트</a></div>
            <div><a href="">사기조회</a></div>
            <div><a href="">시세조회</a></div>
            <div><a href="">찜한상품</a></div>
            <div><a href="">고객센터</a></div>
        </nav>
    </div>
</div>