<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="container-md py-3" id="header">
    <div class="d-flex justify-content-between align-items-center" id="headerTop">
        <div id="logoArea">
            <a href="/" class="d-flex justify-content-center align-items-center">
                <img src="/img/logo.svg">
                <span class="logoName">SSeul Tem</span>
            </a>
        </div>
        <form action="/board/list" class="d-flex" role="search">
            <div id="searchArea">
                <img id="searchImg" src="/img/search.svg" alt="Search Icon">
                <input id="searchBox" class="form-control me-2" name="keyword" type="search" placeholder="어떤 상품을 찾으시나요?"
                       aria-label="Search" th:value="${ph != null ? ph.pgvo.keyword : ''}">
            </div>

            <input type="hidden" name="pageNo" value="1">
            <!-- ph가 있을 때만 qty 값을 전달 -->
            <input type="hidden" name="qty" th:if="${ph != null}" th:value="${ph.pgvo.qty}">
        </form>

        <div class="userMenu">
            <ul class="d-flex justify-content-between align-items-center gap-3">
                <li sec:authorize="!isAuthenticated()">
                    <a href="/user/login" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/login.svg">
                        <span>로그인</span>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/user/logout" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/logout.svg">
                        <span>로그아웃</span>
                    </a>
                </li>
                <li>
                    <a href="/board/register" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/sale.svg">
                        <span>판매</span>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/my.svg">
                        <span>마이</span>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex justify-content-center align-items-center gap-1">
                        <img src="/img/chatting.svg">
                        <span>채팅</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-start align-items-center" id="headerBot">
        <a href="">
            <div id="category" class="d-flex justify-content-between align-items-center gap-2">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
                <span>카테고리</span>
            </div>
        </a>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                카테고리
            </button>

            <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                <li><a class="dropdown-item" href="/board/list?category=가전제품&pageNo=1">가전제품</a></li>
                <li><a class="dropdown-item" href="/board/list?category=의류&pageNo=1">의류</a></li>
                <li><a class="dropdown-item" href="/board/list?category=노트북/PC&pageNo=1">노트북/PC</a></li>
                <li><a class="dropdown-item" href="/board/list?category=리빙/생활&pageNo=1">리빙/생활</a></li>
                <li><a class="dropdown-item" href="/board/list?category=게임&pageNo=1">게임</a></li>
                <li><a class="dropdown-item" href="/board/list?category=도서/음반/문구&pageNo=1">도서/음반/문구</a></li>
                <li><a class="dropdown-item" href="/board/list?category=뷰티&pageNo=1">뷰티</a></li>
                <li><a class="dropdown-item" href="/board/list?category=출산/유아동&pageNo=1">출산/유아동</a></li>
                <li><a class="dropdown-item" href="/board/list?category=모바일/태블릿&pageNo=1">모바일/태블릿</a></li>
                <li><a class="dropdown-item" href="/board/list?category=카메라/캠코더&pageNo=1">카메라/캠코더</a></li>
                <li><a class="dropdown-item" href="/board/list?category=가구/인테리어&pageNo=1">가구/인테리어</a></li>
                <li><a class="dropdown-item" href="/board/list?category=레저/여행&pageNo=1">레저/여행</a></li>
                <li><a class="dropdown-item" href="/board/list?category=스포츠&pageNo=1">스포츠</a></li>
                <li><a class="dropdown-item" href="/board/list?category=반려동물/취미&pageNo=1">반려동물/취미</a></li>
                <li><a class="dropdown-item" href="/board/list?category=중고차&pageNo=1">중고차</a></li>
            </ul>
        </div>

        <nav class="d-flex justify-content-between align-items-center gap-4">
            <div><a href="">이벤트</a></div>
            <div><a href="/board/fraud">사기조회</a></div>
            <div><a href="/board/price">시세조회</a></div>
            <div><a href="/wish/list">찜한상품</a></div>
            <div><a href="">고객센터</a></div>
            <div><a href="/user/admin" sec:authorize="hasRole('ROLE_ADMIN')">관리자</a></div>
        </nav>
    </div>
</div>