<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <link rel="stylesheet" th:href="@{/css/qnaMain.css}">
  <link rel="stylesheet" th:href="@{/css/faq.css}">
</head>

<div layout:fragment="content">
  <div class="container-md">

    <div class="move-main">
      <a href="/qna/main">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
        </svg>
      </a>
    </div>

    <p class="qna-title">Q2: 비밀번호를 잊어버렸을 때 어떻게 하나요?</p>

    <div class="faq-content">
    <p class="qna-sub">비밀번호를 잊어버린 경우, 다음과 같은 방법으로 비밀번호를 재설정할 수 있습니다!</p>
    <ol class="faq-ol">
      <li>1. 로그인 페이지에서 <strong>비밀번호 찾기</strong> 버튼을 클릭합니다.</li>
      <li>2. 등록된 이메일 주소나 휴대폰 번호를 입력합니다.</li>
      <li>3. 입력한 이메일로 <strong>비밀번호 재설정 링크</strong>가 발송됩니다. 해당 링크를 클릭하여 새 비밀번호를 설정합니다.</li>
      <li>4. 새 비밀번호를 입력하고 <strong>비밀번호 변경 완료</strong>를 클릭하면 새로운 비밀번호로 로그인할 수 있습니다.</li>
    </ol>
    <br>
    <p>재설정 링크가 24시간 이내에 만료되므로, 빠르게 비밀번호를 변경해주세요.</p>
    </div>

    <!-- 자주 묻는 질문 -->
    <p class="sub-title" style="margin-top: 58px;">자주 묻는 질문</p>
    <div class="qna-box">
      <ul class="qna-list">
        <li>
          <a href="/faq/first">Q1: 서비스 가입 방법은 무엇인가요?
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/faq/third">Q3: 결제 방법은 무엇이 있나요?
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/faq/fourth">Q4: 배송은 얼마나 걸리나요?
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/faq/fifth">Q5: 계정을 삭제하고 싶어요.
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>


    <div class="feedback">
      <a href="/qna/register">문의하기</a>
    </div>


  </div>
</div>