<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md">

    <h2>Q2: 비밀번호를 잊어버렸을 때 어떻게 하나요?</h2>
    <p>비밀번호를 잊어버린 경우, 다음과 같은 방법으로 비밀번호를 재설정할 수 있습니다:</p>
    <ol>
      <li>로그인 페이지에서 <strong>비밀번호 찾기</strong> 버튼을 클릭합니다.</li>
      <li>등록된 이메일 주소나 휴대폰 번호를 입력합니다.</li>
      <li>입력한 이메일로 <strong>비밀번호 재설정 링크</strong>가 발송됩니다. 해당 링크를 클릭하여 새 비밀번호를 설정합니다.</li>
      <li>새 비밀번호를 입력하고 <strong>비밀번호 변경 완료</strong>를 클릭하면 새로운 비밀번호로 로그인할 수 있습니다.</li>
    </ol>
    <p>재설정 링크가 24시간 이내에 만료되므로, 빠르게 비밀번호를 변경해주세요.</p>


    <a href="/qna/register"><button type="button" class="btn btn-secondary">문의하기</button></a>


  </div>
</div>