<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h2>Q3: 결제 방법은 무엇이 있나요?</h2>
        <p>서비스 결제는 아래와 같은 다양한 방법으로 가능합니다:</p>
        <ul>
            <li><strong>카드 결제</strong>: 신용카드 및 체크카드를 이용한 결제 방법입니다.</li>
            <li><strong>계좌 이체</strong>: 은행 계좌 이체를 통한 결제 방법입니다. 온라인 은행을 통해 결제할 수 있습니다.</li>
            <li><strong>간편 결제</strong>: 카카오페이, 네이버페이 등 다양한 간편 결제 서비스를 통해 결제할 수 있습니다.</li>
            <li><strong>휴대폰 결제</strong>: 모바일을 이용한 간편 결제 방식으로, 휴대폰을 통해 결제를 완료할 수 있습니다.</li>
        </ul>
        <p>결제는 결제 수단에 따라 실시간으로 처리되며, 결제 완료 후 바로 서비스를 이용하실 수 있습니다.</p>

        <a href="/qna/register"><button type="button" class="btn btn-secondary">문의하기</button></a>

    </div>
</div>