    .content {
    padding: 20px;
  }

  button {
    padding: 10px;
    background-color: #A0173B;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #45a049;
  } */
  
  /* 대화방 사이드바 스타일 */
  .chat-sidebar {
    position: fixed;
    right: -400px; /* 기본적으로 숨김 */
    top: 0;
    width: 300px;
    height: 70%;
    background-color: #fff;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-sidebar.active {
    right: 0;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
  }
  
  .chat-messages {
    flex-grow: 1;
    margin: 20px 0;
    overflow-y: auto;
    height: calc(100% - 160px);
  }
  
  .message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  #chatInput {
    padding: 10px;
    /*width: calc(100% - 22px);*/
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #sendBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
  }