/* 멀티 슬라이드 */
#slide1{
	height:620px;
    margin-top: 50px;
}
#slide6{
	height:320px;
    margin-bottom: 70px;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	/* box-shadow:0 0 5px #555; */
	/* max-width:100%; */ /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */ /* 상황에따라 변경할 수 있음. */
    width: 600px;
    height: 600px;
    border-radius: 30px;
    margin-bottom: 10px;
}
#slide6 img {
    width: 185px;
    height: 185px;
}
.swiper-slide>a>div{
    width: 185px;
    text-align: left;
    padding-left: 10px;
}
.swiper {
    position: relative;
  }
.swiper-pagination {
    position: absolute;
    bottom: 1px !important;
  }
.swiper-pagination-bullet-active {
    background-color: #CE4E6A;
}
/* 기본 화살표 안 보이게 처리 */
.swiper-button-next,
.swiper-button-prev{
    background: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
/* 기본 스타일 */
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(169, 169, 169, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}
/* 화면 중앙에서 버튼이 잘 보이도록 위치 조정 (옵션) */
#slide1 {
    position: relative;
}
/* 슬라이드에 맞춰 버튼 위치 */
.swiper-button-next {
    right: 10px;
}
.swiper-button-prev {
    left: 10px;
}
.swiper-button-next:hover{
    background-color: #CE4E6A;
}
.swiper-button-prev:hover{
    background-color: #CE4E6A;
}
.swiper-button-next .slide-button, .swiper-button-prev .slide-button {
    width: 52px !important;
    height: 52px !important;
}