 /* 모달 창 스타일 */
  .buyModal {
    display: none; /* 기본적으로 숨겨져 있음 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* 배경색 (반투명) */
  }

  .buyModal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 515px;
    text-align: center;
  }

.pay-wait-head {
    margin: 10px;
    font-size: 22px;
}

.pay-wait-body {
    margin-bottom: 13px;
    font-size: 18px;
}

  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #CE4E6A;
    margin-left: auto;
    padding-bottom: 3px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .chat-btn {
    margin: 8px auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    width: 85%;
  }

  .paymentBtn {
    margin: 8px auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    width: 85%;
    color: white;
    background-color: #CE4E6A;
    border: none;
  }

  .paymentBtn:hover {
    background-color: #A0173B;
  }

