.payHeader {
    font-size: 26px;
    width: 900px;
    margin: 20px;
    padding: 10px;
    font-weight: 700;
    margin-top: 0;
}

.buyProduct {
    width: 900px;
    margin: 20px;
    margin-left: 10px;
}

.buyDate {
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    border-top: 1px solid #ccc;
}

.productImg {
    width: 120px;
    height: 120px;
}

#buyProductInfo {
    display: flex;
    align-items: center;
}

.infoArea {
    margin: 10px;
    width: calc(100% - 140px);
}

.infoArea > p {
    margin-bottom: 10px;
}

.infoArea > p:nth-child(1) {
    color: gray;
}

.infoArea > p:nth-child(2) {
    font-size: 20px;
}

.infoArea > p:nth-child(3) {
    font-weight: 700;
    font-size: 18px;
}

.cancelBtn {
    border: 0px;
    color: white;
    background: #CE4E6A;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 18px;
}

.cancelBtn:hover {
    background: #A0173B;
    transition: all 0.2s ease;
}