.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.register-area {
    margin-bottom: 30px; /* 입력 창 그룹 간 여백 */
}

.register-name {
    display: block; /* label을 블록 요소로 설정 */
    margin-bottom: 16px; /* input 위에 여백 */
    font-size: 14px; /* label 크기 조정 */
    font-weight: 500;
}

.register-input {
    width: 728px; /* 입력 창 너비 */
    height: 48px; /* 입력 창 높이 */
    padding: 8px 20px; /* 상하 8px, 좌우 20px */
    font-size: 16px; /* 입력 텍스트 크기 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 4px; /* 둥근 모서리 */
    box-sizing: border-box; /* padding 포함한 크기 설정 */
}

#smarteditor textarea {
    width: 727px; /* 부모 컨테이너의 너비를 기준으로 설정 */
    max-width: 728px; /* 최대 너비 설정 (필요 시) */
}

.register-notes{
    margin-bottom: 40px;
    font-size: 18px;
    color: #A3A3A3;
}

.register-bold{
    font-weight: 500;
}

.select{
    -webkit-appearance: none;  /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none;  /* 화살표 없애기 */
}

.select option{
    color: #A3A3A3;
}

.selectBox {
    position: relative;
    width: 150px;
    height: 36px;
    border-radius: 4px;
    border: 2px solid #ccc;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
}

.selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3; 
}

.selectBox .select option {
    background: #fff;
    color: #000;
    padding: 3px 0;
    font-size: 16px;
}

.selectBox .icoArrow {
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 1; 
    width: 35px; 
    height: 34px;
    border-left: 2px solid #ccc;
    display: flex;
    justify-content: center;
}

.register-button{
    width: 180px;
    height: 50px;
    padding: 5px 10px;;
    color: white;
    background-color: #CE4E6A;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
}

.register-button:hover{
    background-color: #F26879;
}

.register-center{
    display: flex;
    justify-content: center;
    align-items: center;
}