<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div layout:fragment="content">

  <div class="container-md cBox">
    <th:block th:with="qnaVO=${qnaFileDTO.qnaVO}">
      <div class="detailHeader d-flex justify-content-between align-items-center">
        <div class="titleBox">
          <h1 class="d-flex align-items-center gap-3">
            <span th:text="${qnaVO.category}" class="category"></span>
            <span class="title">[[${qnaVO.qnaName}]]</span>
          </h1>
        </div>
        <div class="userBox d-flex flex-column gap-3">
          <div class="userName"><strong>[[${userVO.userName}]]</strong>님([[${userVO.userId}]])<span class="badge bg-secondary">#[[${userVO.userNum}]]</span></div>
          <span class="regAt d-flex align-items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#A3A3A3" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
          </svg>
          [[${qnaVO.formattedRegAt}]]
        </span>
        </div>
      </div>
      <div class="content" th:utext="${qnaVO.qnaContent}"></div>
      <th:block th:if="${#authentication.getPrincipal().userVO.userNum == qnaVO.userId}">
        <div class="userBtn d-flex justify-content-end">
          <a th:href="@{/qna/delete(qnaId=${qnaVO.qnaId})}"><button type="button" id="delBtn" class="btn btn-custom" onclick="return confirm('정말 삭제하시겠습니까?')">문의삭제</button></a>
        </div>
      </th:block>
    </th:block>


    <!--/* 답변 라인 */-->
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
      <div class="answer d-flex justify-content-start gap-2 align-items-center">
        <span id="answerWriter" class="fw-bold">관리자</span>
        <textarea id="answerText" placeholder="답변을 남겨주세요"></textarea>
        <div class="abtn">
          <button type="button" id="asAddBtn">등록</button>
        </div>
      </div>
    </th:block>

    <ul class="list-group list-group-flush" id="asListArea">
      <li class="list-group-item">
        <div class="ms-2 me-auto">
          <div class="fw-bold">writer</div>
          <span>Content</span>
        </div>
        <span class="badge text-bg-primary rounded-pill">regDate</span>
      </li>
    </ul>

    <!--/* Modal */-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="asWriterMod">관리자</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="asTextMod">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="asModBtn" class="btn btn-custom">Save changes</button>
          </div>
        </div>
      </div>
    </div>




    <script th:inline="javascript">
      let qnaVal = [[${qnaFileDTO.qnaVO.qnaId}]]
      console.log(qnaVal);

      let userVal = [[${#authentication.principal.userVO.userNum}]];
      console.log(userVal);
    </script>

    <th:block sec:authorize="isAuthenticated()">
      <script th:inline="javascript">

         var userRoles = [[${#authentication.principal.userVO.authList}]];
         var rolesArray = userRoles.map(function(role) {
            return role.auth;
          });

         var isAdmin = rolesArray.includes('ROLE_ADMIN');
         console.log("Is Admin: " + isAdmin);

         // 권한에 따라 writer 설정
         let writerName = rolesArray.includes('ROLE_ADMIN') ? '관리자' : [[${#authentication.principal.userVO.userName}]];

         console.log("Writer: " + writerName);  // writer 값 확인

      </script>
    </th:block>


    <script th:src="@{/js/qnaDetail.js}" charset="UTF-8"></script>

    <script>
      spreadAnswer(qnaVal);
    </script>

  </div>
</div>