<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content">
    <div class="container-md cBox" style="margin-top : 50px;" >
        <h1>문의수정</h1>
        <hr>
        <form action="/qna/update" method="post"  enctype="multipart/form-data" th:with="qnaVO=${qnaFileDTO.qnaVO}">
            <input type="hidden" th:value="${qnaVO.qnaId}" name="qnaId">
            <div class="mb-3">
                <label for="q" class="form-label">문의제목</label>
                <input type="text" class="form-control" id="q" name="qnaName" th:value="${qnaVO.qnaName}">
            </div>
            <!-- qnaFormType 이라는 hidden input 추가 -->
            <input type="hidden" id="formType" value="qna">
            <div class="mb-3">
                <label for="inputGroupSelect01" class="form-label">카테고리</label>
                <select class="form-select form-select-sm" id="inputGroupSelect01" name="category" required>
                    <option value="" disabled selected>선택...</option>
                    <option value="계정문의" th:selected="${qnaVO.category == '계정문의'}">계정문의</option>
                    <option value="채팅,알림" th:selected="${qnaVO.category == '채팅,알림'}">채팅,알림</option>
                    <option value="중고거래" th:selected="${qnaVO.category == '중고거래'}">중고거래</option>
                    <option value="광고문의" th:selected="${qnaVO.category == '광고문의'}">광고문의</option>
                    <option value="이벤트문의" th:selected="${qnaVO.category == '이벤트문의'}">이벤트문의</option>
                    <option value="직거래문의" th:selected="${qnaVO.category == '직거래문의'}">직거래문의</option>
                    <option value="다른 문제가 있어요" th:selected="${qnaVO.category == '다른 문제가 있어요'}">다른 문제가 있어요</option>
                </select>
            </div>
            <div id="smarteditor" class="mb-3">
                <label for="c" class="form-label">문의내용</label>
                <textarea class="form-control" id="c" name="qnaContent" cols="10" rows="20" th:utext="${qnaVO.qnaContent}"></textarea>
            </div>

            <div class="flexBox" style="display: flex; justify-content:end;">
                <button type="submit" class="btn btn-secondary" id="regBtn">문의수정</button>
            </div>
        </form>
        <script th:src="@{/js/qnaRegister.js}" charset="UTF-8"></script>
        <script th:src="@{/smarteditor/js/HuskyEZCreator.js}" charset="UTF-8"></script>
    </div>

</div>