<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/myQnaList.css}">
</head>

<div layout:fragment="content">

  <div class="container-md cBox">

<!--    [[${list}]]-->
    <div class="qnaHeader">내 문의내역</div>
    <div class="qnaList">

    <table style="width: 100%;">
      <thead class="qnaListHeader">
      <tr>
        <th>답변여부</th>
        <th>문의 구분</th>
        <th>문의명</th>
        <th>문의 날짜</th>
      </tr>
      </thead>
      <tbody class="qnaListBody">
      <tr th:each="qnaVO : ${list}">
        <td>
          <span th:if="${qnaVO.answerCount > 0}" style="color: green;">답변완료</span>
          <span th:if="${qnaVO.answerCount == 0}" style="color: red;">답변대기</span>
        </td>
        <td th:text="${qnaVO.category}"></td>
        <td>
          <a th:href="@{/qna/detail(qnaId=${qnaVO.qnaId})}">
            <span th:text="${qnaVO.qnaName}"></span>
          </a>
        </td>
        <td th:text="${#strings.substring(qnaVO.regAt,0,10)}"></td> <!-- 수정해야해 -->
      </tr>
      </tbody>
    </table>

    </div>


  </div>
</div>