<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md">

    <h2>이용자에게 불쾌감을 유발하는 콘텐츠</h2>

    <p>쓸템은 폭력적이거나 잔혹한 정보를 비롯하여 이웃 간 증오・혐오감을 유발할 수 있는 모든 정보를 허용하지 않아요. 이웃 누구나 보고 참여할 수 있는 서비스 영역에서 이러한 정보를 확인하셨다면 신고해 주세요.</p>

    <h3>폭력 ・ 잔혹성 정보</h3>
    <p>사람과 사람의 표현물(모든 창작물)에 대한 육체적·정신적 고통 등을 사실적·구체적으로 표현하여 다른 이웃들에게 불쾌감을 주는 내용은 폭력성·잔혹성 정보로 판단됩니다. 아래와 같은 폭력적이고 잔혹한 내용을 포함한 정보는 엄격히 금지됩니다.</p>
    <ul>
      <li>피와 출혈을 동반한 절단, 손괴 등 잔인한 살해 장면이나 사체유기 등을 표현 또는 묘사한 내용</li>
      <li>무방비 상태에서 대응할 수 없는 사람에게 행해지는 고문, 폭행 등을 표현 또는 묘사한 내용</li>
      <li>장애인, 노인, 임산부, 아동 등 사회적 약자 또는 부모, 스승 등에 대한 살인, 상해, 폭행, 협박, 학대행위 등을 표현 또는 묘사한 내용</li>
      <li>자살, 자해, 자학행위를 구체적으로 표현 또는 묘사한 내용</li>
      <li>과도하게 손상된 신체 또는 시체를 표현 또는 묘사한 내용</li>
      <li>폭력 행위를 흥미 위주로 희화화・미화하거나 범죄방법을 상세히 표현 또는 묘사한 내용</li>
      <li>불에 탔거나 불에 붙어 있는 사람을 표현 또는 묘사한 내용</li>
      <li>그 밖에 육체적·정신적 고통 등을 사실적·구체적으로 표현하여 잔혹감을 줄 수 있는 내용</li>
    </ul>

    <h3>욕설 ・ 비속어 정보</h3>
    <p>다른 이웃들에게 모욕감 또는 불쾌감을 주거나 언어적 폭력으로 느낄 수 있는 과도한 표현은 욕설・비속어 정보로 판단됩니다. 쓸템에서는 다음과 같은 정보도 금지하고 있습니다:</p>
    <ul>
      <li>노골적인 성적 행위 및 성기 등을 표현 또는 묘사한 욕설・비속어</li>
      <li>신체 훼손을 표현하는 폭력적인 내용의 욕설・비속어</li>
      <li>사람을 동물에 비유하거나 신체의 손상 및 취향을 비하하는 내용을 표현하는 욕설・비속어</li>
      <li>상대방을 비하하거나 모욕하는 내용의 거친 욕설・비속어</li>
      <li>상대방에게 모욕감을 줄 수 있는 손가락 등 신체 일부를 이용한 욕설 표현</li>
      <li>욕설을 유도하는 내용 (욕가능, 욕프리, 욕해주세요 등)</li>
      <li>그 밖에 타인에게 모욕감 또는 불쾌감을 줄 수 있는 욕설・비속어</li>
    </ul>

    <h3>증오 ・ 혐오성 정보</h3>
    <p>쓸템은 차별적 인식에 기반해 특정 집단에 대해 극단적인 언어적 폭력을 가하는 행위를 “증오 발언”으로 정의하고 있습니다. 이러한 혐오 발언과 차별적 행위는 쓸템 내에서 허용되지 않으며, 다음과 같은 사항은 모두 금지됩니다:</p>
    <ul>
      <li>출신 (국가, 지역 등)</li>
      <li>인종</li>
      <li>외양</li>
      <li>장애 및 질병 유무</li>
      <li>사회 경제적 상황 및 지위 (직업, 신분 등)</li>
      <li>종교</li>
      <li>연령</li>
      <li>성별</li>
      <li>성 정체성</li>
      <li>성적 지향 또는 기타 정체성 요인</li>
    </ul>

    <h3>혐오성 정보</h3>
    <p>다수의 이용자들이 거부감을 느끼거나 기피할 수 있는 내용은 혐오성 정보로 판단되며, 이 역시 엄격히 금지됩니다. 아래와 같은 내용은 혐오성 정보로 간주되어 삭제될 수 있습니다:</p>
    <ul>
      <li>구토, 방뇨(소변), 배설시의 오물(대변 등)을 표현 또는 묘사한 내용</li>
      <li>여성의 생리분비물, 질분비물 등을 표현 또는 묘사한 내용</li>
      <li>낙태, 절개・절단, 출산, 수술 장면 등을 구체적으로 표현 또는 묘사한 내용</li>
      <li>사람 또는 동물의 질병 증상을 구체적으로 표현 또는 묘사한 내용</li>
      <li>환공포증을 느끼도록 인체에 인위적으로 촘촘하게 밀집된 문양 등을 표현 또는 묘사한 내용</li>
      <li>타인에게 공포감을 줄 수 있는 귀신 등을 표현 또는 묘사한 내용</li>
    </ul>

    <h3>동물학대 정보</h3>
    <p>“동물학대”란 동물을 대상으로 정당한 사유 없이 불필요하거나 피할 수 있는 신체적 고통과 스트레스를 주는 행위 및 굶주림, 질병 등에 대해 적절한 조치를 게을리하거나 방치하는 행위를 의미합니다. 쓸템은 이러한 동물학대 행위를 철저히 금지하고 있으며, 아래와 같은 행위들은 동물학대 정보로 간주하여 신고가 가능합니다:</p>
    <ul>
      <li>동물의 목을 매다는 등 잔인한 방법으로 죽음에 이르게 하는 행위</li>
      <li>노상 등 공개된 장소에서 죽음에 이르게 하는 행위</li>
      <li>같은 종류의 다른 동물이 보는 앞에서 죽음에 이르게 하는 행위</li>
      <li>고의로 사료 또는 물을 주지 아니하는 행위로 인하여 동물을 죽음에 이르게 하는 행위</li>
      <li>도구・약물 등 물리적・화학적 방법을 사용하여 상해를 입히는 행위</li>
      <li>살아 있는 상태에서 동물의 신체를 손상하거나 체액을 채취하거나 체액을 채취하기 위한 장치를 설치하는 행위</li>
      <li>도박・광고・오락・유흥 등의 목적으로 동물에게 상해를 입히는 행위</li>
      <li>동물을 포획하여 판매하거나 죽이는 행위</li>
      <li>동물을 판매하거나 죽일 목적으로 포획하는 행위</li>
      <li>유실・유기동물 또는 소유자를 알 수 없는 동물의 판매 알선, 구매 행위</li>
      <li>영리를 목적으로 동물을 대여하는 행위</li>
      <li>그 외 정당한 사유 없이 동물을 죽음에 이르게 하거나, 신체적 고통을 주거나 상해를 입히는 행위</li>
    </ul>

    <p>쓸템은 이러한 폭력적, 잔혹한 정보 및 혐오성, 동물학대 정보를 철저히 관리하며, 문제가 되는 콘텐츠를 신고한 경우 신속하게 대응할 것입니다.</p>


    <a href="/qna/register"><button type="button" class="btn btn-secondary">문의하기</button></a>
  </div>
</div>