<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <link rel="stylesheet" th:href="@{/css/qnaMain.css}">
  <link rel="stylesheet" th:href="@{/css/faq.css}">
  <link rel="stylesheet" th:href="@{/css/policy.css}">
</head>

<div layout:fragment="content">
  <div class="container-md">

    <div class="move-main">
      <a href="/qna/main">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
        </svg>
      </a>
    </div>

    <p class="qna-title">불법 ・ 유해 콘텐츠와 거래금지물품</p>


    <div class="faq-content">

    <p>쓸템은 사기, 다단계, 위장 포교 활동 등 부적절한 의도를 가지고 이웃을 속이는 행위를 분석하고 신속하게 대응하고 있어요. 목적을 숨기고 동네 이웃을 속이거나 교묘한 수법으로 많은 사용자에게 피해를 주는 행위는 제한돼요.</p>
    <p>이러한 사실과 행위를 확인 하셨다면 신고해주세요.</p>

    <ul class="policy-ul">
      <li>고액의 임금, 값싸고 매력적인 물품 혹은 물품 등을 이용하여 이웃을 현혹하고 속이는 행위</li>
      <li>서비스 목적과 다른 의도로 이웃을 만나 종교 포교를 시도하는 행위</li>
      <li>쓸템이 아닌 외부 채팅 앱이나 링크로 유도하는 행위</li>
      <li>서비스 목적과 다르게 이웃을 개인 혹은 단체의 상업적인 활동에 초청하거나 권유하는 행위</li>
      <li>불특정 다수의 이웃에게 상업적 홍보 목적의 채팅을 다량으로 전송하는 행위</li>
      <li>컨텐츠의 조회수, 채팅수, 단골수, 후기수를 인위적으로 높이는 조작 행위</li>
      <li>사람을 속이기 위해 혹은 상업적인 이득을 얻기 위해 허위로 또는 비정상적으로 동네인증 하는 행위</li>
    </ul>

    <p>서비스 이용 과정에서 위와 같은 행위가 의심되는 경우 즉시 신고해 주세요.</p>

    </div>

    <!-- 운영 정책 -->
    <p class="sub-title" style="margin-top: 58px;">운영 정책</p>
    <div class="qna-box">
      <ul class="qna-list">
        <li>
          <a href="/policy/first">올바른 (쓸템) 사용법
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/policy/third">범죄 및 유해 행위
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/policy/fourth">이용자에게 불쾌감을 유발하는 콘텐츠
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/policy/fifth">권리 및 사생활 보호
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/policy/sixth">서비스 이용 제한
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>


    <div class="feedback-box">
      <span>도움이 필요하신가요?</span>
      <a href="/qna/register"><button type="button" class="btn">문의하기</button></a>
    </div>

  </div>
</div>