<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.joonggo.repository.BoardMapper">

    <insert id="register">
        insert into sellbuy_board(board_name,category,trade_price,board_content,seller_id)
        values(#{boardName},#{category},#{tradePrice},#{boardContent},#{sellerId});
    </insert>

    <select id="getBoardId" resultType="long">
        select max(board_id) from sellbuy_board;
    </select>

    <select id="getList" resultType="com.project.joonggo.domain.BoardFileDTO">
        select * from sellbuy_board
        WHERE is_del = 'N'
        <include refid="search"/>
        <include refid="categorySearch"/>
        order by board_id desc
        limit #{startIndex}, #{qty}
    </select>
    <select id="getDetail" resultType="com.project.joonggo.domain.BoardVO">
        select * from sellbuy_board where board_id = #{boardId}
    </select>
    <update id="updateTradeFlag">
        UPDATE sellbuy_board
        SET trade_flag = 1
        WHERE board_id = #{boardId}
        AND trade_flag = 0  <!-- 거래 완료되지 않은 게시글만 업데이트 -->
    </update>

    <select id="getUpdateContent" resultType="String">
        SELECT board_content
        FROM sellbuy_board
        WHERE board_id = #{boardId}
    </select>

    <update id="updateBoardContent" parameterType="com.project.joonggo.domain.BoardVO">
        UPDATE sellbuy_board
        SET
        board_name = #{boardName},
        category = #{category},
        trade_price = #{tradePrice},
        board_content = #{boardContent}
        WHERE board_id = #{boardId}
    </update>

    <update id="boardIsDelUpdate">
        UPDATE sellbuy_board
        SET is_del = 'Y'
        WHERE board_id = #{boardId}
    </update>

    <select id="getBoardList" resultType="com.project.joonggo.domain.BoardVO">
        select * from sellbuy_board
        WHERE is_del = 'N'
        <include refid="search"/>
        <include refid="categorySearch"/>
        order by board_id desc
        LIMIT #{startIndex}, #{qty}
    </select>

    <update id="incrementReadCount">
        update sellbuy_board
        set read_count = read_count+1
        where board_id = #{boardId}
    </update>

    <update id="incrementWishCount" parameterType="long">
        UPDATE sellbuy_board
        SET like_count = like_count + 1
        WHERE board_id = #{boardId}
    </update>

    <update id="decrementWishCount" parameterType="long">
        UPDATE sellbuy_board
        SET like_count = like_count - 1
        WHERE board_id = #{boardId}
    </update>

    <select id="getLikeCount" resultType="int">
        select like_count from sellbuy_board
        where board_id = ${boardId}
    </select>

    <select id="getTotal" resultType="int">
        select count(board_id) from sellbuy_board
        where is_del = 'N'
        <include refid="search"/>
        <include refid="categorySearch"/>
    </select>

    <sql id="search">
        <if test="keyword != null and keyword != ''">
            AND board_name LIKE CONCAT('%', #{keyword}, '%') <!-- 검색어가 포함된 게시글만 검색 -->
        </if>
    </sql>

    <sql id="categorySearch">
        <if test="category != null and category != ''">
            AND category LIKE CONCAT('%', #{category}, '%') <!-- 카테고리가 일치하는 게시글만 검색 -->
        </if>
    </sql>

    <select id="searchPrice" resultType="com.project.joonggo.domain.BoardVO">
        SELECT * FROM sellbuy_board
        WHERE board_name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="getSellerIdByBoardId" resultType="long">
        select seller_id from sellbuy_board where board_id = ${boardId}
    </select>

    <select id="getRecentProducts" resultType="com.project.joonggo.domain.BoardVO">
        SELECT * FROM sellbuy_board
        WHERE is_del = 'N'
        ORDER BY reg_at DESC
        LIMIT 18;
    </select>

    <select id="getRecommendedProducts" resultType="com.project.joonggo.domain.BoardVO">
        SELECT * FROM sellbuy_board
        WHERE is_del = 'N'
        ORDER BY like_count DESC
        LIMIT 18;
    </select>

    <select id="getPopularProducts" resultType="com.project.joonggo.domain.BoardVO">
        SELECT *
        FROM sellbuy_board
        WHERE is_del = 'N'
<!--        AND reg_at >= NOW() - INTERVAL 2 HOUR-->
        ORDER BY read_count DESC
        LIMIT 18;
    </select>

</mapper>