<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.joonggo.repository.ChatRoomMapper">

    <select id="getChatRoomList" resultType="com.project.joonggo.domain.ChatRoomVO">
        SELECT cj.room_id, cr.user_num, cr.room_name, cr.room_status
        FROM chat_room cr
        INNER JOIN chat_join cj ON cr.room_id = cj.room_id
        WHERE cj.user_num = #{userNum}
        AND cr.room_status = 'Y'
    </select>
    <!--  /* resultType="com.project.joonggo.domain.ChatCommentVO "*/  -->
</mapper>