<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.joonggo.repository.ChatCommentMapper">

    <select id="getCommentsByRoomId" resultType="com.project.joonggo.domain.ChatCommentVO">
        SELECT * FROM chat_comment
        WHERE room_id = #{roomId}
        ORDER BY comment_write_date
    </select>

    <insert id="saveChatComment" parameterType="com.project.joonggo.domain.ChatCommentVO">
        INSERT INTO chat_comment(room_id, comment_user_num, comment_content, comment_write_date, is_read)
        VALUES(#{roomId}, #{commentUserNum}, #{commentContent}, NOW(), 0)
    </insert>

    <insert id="saveChatCommentEnterUser" parameterType="com.project.joonggo.domain.ChatCommentVO">
        INSERT INTO chat_comment(room_id, comment_user_num, comment_content, comment_write_date, is_read)
        VALUES(#{roomId}, #{commentUserNum}, #{commentContent}, NOW(), 1)
    </insert>

    <select id="countUnreadMessages" resultType="int">
        SELECT COUNT(*)
        FROM chat_comment
        WHERE room_id = #{roomId}
        AND comment_user_num != #{userNum}
        AND is_read = 0
    </select>

    <!-- 전체 읽지 않은 메시지 수 조회 -->
    <select id="countTotalUnreadMessages" resultType="int">
        SELECT COUNT(*) FROM chat_comment AS cc
        INNER JOIN chat_room AS cr
        ON cc.room_id = cr.room_id
        INNER JOIN chat_join AS cj
        ON cr.room_id = cj.room_id
        WHERE cj.user_num = #{userNum}
        AND cc.comment_user_num != #{userNum}
        AND cc.is_read = 0
    </select>

    <!-- 채팅방 메시지 읽음 처리 -->
    <update id="updateReadStatus">
        UPDATE chat_comment
        SET is_read = 1
        WHERE room_id = #{roomId}
        AND comment_user_num != #{userNum}
        AND is_read = 0
    </update>
</mapper>