<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.joonggo.repository.QnaMapper">

    <insert id="register">
        insert into qna_board(qna_name,category,qna_content,user_id)
        values(#{qnaName},#{category},#{qnaContent},#{userId});
    </insert>

    <select id="getQnaId" resultType="long">
        select max(qna_id) from qna_board;
    </select>

    <select id="getDetail" resultType="com.project.joonggo.domain.QnaVO">
        select * from qna_board where qna_id = ${qnaId}
    </select>

    <select id="getUpdateContent" resultType="String">
        SELECT qna_content
        FROM qna_board
        WHERE qna_id = #{qnaId}
    </select>

    <update id="updateQnaContent">
        UPDATE qna_board
        SET
        qna_name = #{qnaName},
        category = #{category},
        qna_content = #{qnaContent}
        WHERE qna_id = #{qnaId}
    </update>

    <update id="qnaIsDelUpdate">
        update qna_board
        set
        is_del = 'Y'
        where qna_id = #{qnaId}
    </update>


</mapper>